dist
docs
.parcel-cache
coverage
docs
docs-source
parcel-transformer-add-source-code
tests
src
.idea
.eslintcache
.eslintignore
.eslintrc.js
.github/workflows/docs-deploy.yml
.github/workflows/test.yml
.husky/pre-commit
.parcelrc
.prettierrc
jest-setup.ts
jest.config.js
package.json
tsconfig.build.json
tsconfig.json
typedoc.json
babel-jest.config.js